@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&family=Nunito:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

*{
    padding: 0;
    margin: 0;
    overflow-y: hidden
}

.text_side1_1
{
    font-family: 'Poppins', sans-serif;
    width: 80%;
}

.text_side1_2
{
    width: 80%;
    font-family: 'Inter', sans-serif;
}

.img{
    height: 50%;
    position: absolute;
    bottom: 0;
    left: 0;
}

.logo
{
    width: 25%;
}

.login
{
    margin-top: 42px;
    width: 70%;
}

.btn-entrar{
    transition: 0.2s;
    margin-top: 42px;
    height: 58px;
    border-radius: 10px;
    border: none;
    font-size: 18px;
    color: white;
    background-color: #2734B6CC; 
}

.btn-entrar:hover
{
    background-color: #5d66c4cc;
    transition: 0.2s;
}

.pwdModalBtn
{
    background-color: transparent;
    color: #383838;
    border: none;
    transition: 0.3s;
}

.pwdModalBtn:hover{
    transition: 0.3s;
    color: rgb(88, 88, 216);
    text-decoration: underline;
}

.modalText{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
}

.modalText img{
    width: 15%;
}
.modalText h5{
    margin-top: 10px;
    margin-bottom: 30px;
    font-weight: 600;
}

.form-control{
    border: transparent solid 2px !important;
}

.form-control:focus {
    border: solid 2px !important;
    border-color: #86b7fe !important;
    box-shadow:  0 0 2px rgb(13 110 253 / 25%) !important;
    outline: 0 !important;
}

.login_side1
{
    background-color: #17192E;
    height: 100vh;
    color: #FAFAFA;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login_side2
{
    z-index: +2;
    background-color: #FAFAFA;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
