.ChartProgress{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 30px;
}
.label{
    font-size: 12px;
}
.information{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.search{
    align-items: flex-end;
}
input{
    background-color: rgba(245, 240, 240, 0);
    border-style: solid;
    border-color: gray;
    border-width: 0px 0px 4px 0px; /* 25px top, 10px right, 4px bottom and 35px left */
    width: 90%;
    border-radius: 8px;
}
